body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder {
  color: white
}

.link:hover:nth-child(1) {
  border-bottom: 8px solid white;
  padding-bottom: 2px
}

.link:hover:nth-child(2) {
  border-bottom: 8px solid rgb(255, 166, 0);
  padding-bottom: 2px
}

.link:hover:nth-child(3) {
  border-bottom: 8px solid rgb(255, 255, 108);
  padding-bottom: 2px
}

.link:hover:nth-child(4) {
  border-bottom: 8px solid rgb(255, 88, 88);
  padding-bottom: 2px
}

.link:hover:nth-child(5) {
  border-bottom: 8px solid rgb(139, 255, 139);
  padding-bottom: 2px
}

.link:hover:nth-child(6) {
  border-bottom: 8px solid rgb(122, 239, 255) ;
  padding-bottom: 2px
}

.link:hover:nth-child(7) {
  border-bottom: 8px solid rgb(255, 124, 227) ;
  padding-bottom: 2px
}

.nav-links-middle:after {
    content: "";
    position: absolute;
    right: 0px;
    width: 72px;
    z-index: 1;
    top: 4.4rem;
    height: 100%;
    background: linear-gradient(90deg,transparent 0,#000);
}

input:focus {
  outline: none /* Removes the border when the input is clicked */
}

.inputShow {
  width: 80%;
  height: 2rem;
  margin: auto;
  display: flex !important;
  border: 6px solid white;
  align-items: center;
  padding: 4px
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1140px) {
  .link {
    font-size: 24px !important;
  }
}